/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Source Code Pro", monospace;
  padding: 0 1rem; /* Added x-axis padding for mobile */
}

@media (min-width: 768px) {
  body {
    padding: 0 4rem; /* Increased x-axis padding for desktop */
  }
}

nav {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Slight background for the nav */
  backdrop-filter: blur(10px); /* Blur effect for nav */
}

.hero {
  height: calc(100vh - 72px); /* Adjust height based on the nav height */
  padding: 0; /* Removed padding from hero section */
}

.hero h1 {
  font-size: clamp(5rem, 10vw, 12rem); /* Larger responsive font size */
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.hero .position {
  font-size: clamp(2rem, 4vw, 3rem); /* Larger responsive font size */
  margin-bottom: 1.5rem;
  opacity: 0.75;
}

.hero .description {
  font-size: clamp(2.5rem, 5vw, 4rem); /* Larger responsive font size */
  margin-bottom: 3rem;
}

.hero .description span {
  opacity: 0.5;
}

.hero .social-links a {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: 1px solid;
  background-color: #f5f5f5;
  color: #000;
  text-decoration: none;
}

.hero .social-links a.bg-gray-600 {
  background-color: #00ab6c;
  border-color: #00ab6c;
  color: #fff;
}

.hero .social-links a.bg-blue-800 {
  background-color: #0077b5;
  border-color: #0077b5;
  color: #fff;
}

.hero .social-links a.bg-gray-900 {
  background-color: #333;
  border-color: #333;
  color: #fff;
}
